<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Payment Oak" %></title>
    
    <%= stylesheet_link_tag "normalize", "gumby", "style", "metrize" %>
    <script src="javascripts/modernizr-2.5.3.min.js"></script>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>

      <!-- Grab Google CDN's jQuery, fall back to local if offline -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="javascripts/jquery-1.9.1.min.js"><\/script>')</script>


    <%= javascript_include_tag  "all" %>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56741292-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>